#cart-container table{
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
}
.cart-container{
    overflow-x: auto;
}
.cart-container table thead{
    font-weight: 700;
}
.cart-container table thead td{
    background-color:  deepskyblue;
    color: white;
    border: none;
    padding: 6px;
}
.cart-container table td{
    border: 1px solid grey;
    text-align: center;
}
.cart-container table td:nth-child(1){
  width: 100x;   
}
.cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
.cart-container table tbody i{
    color: blue;
}
.row{
   
    color:black;
    border: black;
    font-weight: 500;
    padding: 60px 12px;
    
   
   
}
#cart-bottom .total>div{
    border: 1px solid yellow;
    padding-right: 2px;
    left: 20px;
    
    left: 80px;
    top: 5px;
    right: 50px;
    background-color:  #D3D3D3; 
   
   
}
#cart-bottom .total h5{
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}
#cart-bottom .total div>div{
    padding: 0 12px;
}
.second-hr{
    background: gray;
    width: 100%;
    height: 1px;
}
#cart-bottom.total div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}